<div class="container-fluid">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-xs-6">

        <%= image_tag("#{movie.poster}", style:"width: 100%;") %>
        <%= movie.title %>
        <%= movie.release_year %>
        <%= link_to "", my_movie_path(movie) %>
      </div>
    <% end %>
  </div>
</div>

