<div class="container-fluid">
  <div class="row">
    <% @movies.each do |movie| %>
    <div class="card">
        <div class="col-xs-6">
          <div class="movie-poster">
            <%= image_tag("#{movie.poster}", style:"width: 100%;") %>
          </div>
          <div class="movie-title">
            <%= movie.title %>
          </div>
          <div class="movie-year">
            <%= movie.release_year %>
          </div>

            <%= link_to "", my_movie_path(movie), class: "movie-link" %>

        </div>
      </div>
    <% end %>
  </div>
</div>

