<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel-example-generic" class="carousel slide">
        <div class="carousel-inner" role="listbox">
          <% if @trailers.empty? || @next_trailer.nil? %>
            <h1>Oooops</h1>
            <h4>We haven't any trailer matching your preferences...</h4>
            <%= button_to "Change my preferences", new_filter_path, method: :get, class: "btn btn-danger" %>
          <% else %>
            <%= render "trailers/trailer", trailer: @next_trailer, active: true %>
          <% end %>
        </div>
      </div>
    </div>
  </div>


</div>







