<h1>Index Trailer</h1>

  <% movie = @movies.first %>
  <% key = movie['videos']['results'].first['key'] %>


 <iframe  src="https://www.youtube.com/embed/<%= key %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
