<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <% movie = @movies.first %>
            <% key = movie['videos']['results'].first['key'] %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= key %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="item">
            <% movie = @movies.first %>
            <% key = movie['videos']['results'].first['key'] %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= key %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="item">
            <% movie = @movies.first %>
            <% key = movie['videos']['results'].first['key'] %>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= key %>" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




