html, body {
  min-height: 100vh;
}

body.flex-column {
  display: flex;
  flex-direction: column;
  .backdrop {
    flex: 1;
    position: relative;
    overflow: hidden;
    .backdrop-img {
      background-size: cover;
      filter: blur(15px);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .backdrop-content {
      z-index: 10;
      position:relative;
      padding-top: 10px;
    }
    .mm-modal {
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      background-color: rgba(black, 0.6);
      z-index: 20;
      align-items: center;
      justify-content: center;
      display: none;
      &.active {
        display: flex;

      }

      .button-quit {
        position: absolute;
        top: 10px;
        right: 10px;
        text-decoration: none;
        color: white;
        padding: 10px;
      }

      .mm-modal-quit {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: -3;
      }
    }
  }

}

