.btn-block {
  color: white;
  background-color: $red-btn;
  border-radius: 50px;
  text-decoration: none;
}
.btn-block:hover {
  color: white;
  background-color: $red-btn-hover;
  text-decoration: none;
}

.btn-mailer {
  color: white;
  white-space: normal;
  font-size: 12px;
  margin-top: 10px;
}

.buttons-like-dislike  {
  display: flex;
  justify-content: space-around;
  padding-top: 60px;
}

.button-dislike, .button-like {
  width: 110px;
  height: 40px;
  border-radius: 50px;
  font-weight: bolder;
}

.button-like {
  border: 2px solid $green;
  color: $green;
  background-color: transparent;
  &:focus, &:active, &:hover {
    background-color: $green;
    color: white;
  }
}

.button-dislike {
  color: $red-btn;
  background-color: transparent;
  border: 2px solid $red-btn;
  &:focus, &:active, &:hover {
    background-color: $red-btn;
    color: white;
  }
}
