.card {
  position: relative;
  margin-top: 15px;
}

.movie-poster {
  width: 100%;
  padding-bottom: 150%;
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-size: cover;
}

.movie-title {
  color: white;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
}

.movie-infos {
  font-size: 15px;
}
