.collection-check-boxes {
  display: flex;
  flex: 0 0 30%;
  flex-wrap: wrap;
  font-size: 16px;
  text-align: center;

  .col-xs-6 {
    padding: 0px;
  }


  input, .checked  {
    display: none;
  }
  label {
    cursor: pointer;
  }
  .picture {
    height: 60px;
    width: 100px;
  }

  .check-box {
    background: #1d2024;
    border-radius: 3px;
    padding:18px 5px;
    color: $grey-typo;
    border: 2px solid white;
    font-weight: normal;
    height: 118px;
    width: 157px;
    position: relative;
    .icon-checked {
      display: none;
      height: 10px;
      width: 10px;

    }
  }

  input:checked + .check-box {
    border: 2px solid rgb(107, 200, 139);
    background-color: white;
    color: rgb(15, 15, 15);
    .icon-checked {
      display: inline-block;
      position: absolute;
      top: 5px;
      right: 5px;
    }
  }
}

body {
  background-color: $grey-background;
  color: $grey-typo;
  font-family: $body-font;
  font-weight: lighter;
}

h4, .col-form-label {
  font-family: $body-font;
  color: $grey-typo;
  font-weight: normal;
}

.btn-block {
  color: white;
  background-color: $red-btn;
  border-radius: 50px;
}
.btn-block:hover {
  color: white;
  background-color: $red-btn-hover;
}

.text-icon {
  margin-top: 10px;
}

.collection_radio_buttons {
  font-size: 16px;
  font-weight: normal;
  font-family: $body-font;
}
