.collection-check-boxes {
  display: flex;
  flex: 0 0 30%;
  flex-wrap: wrap;
  font-size: 16px;
  text-align: center;


  .check-box-label {
    width: 100%;
    padding: 5px;
  }

  .col-xs-6 {
    padding: 0px;
  }


  input, .checked  {
    display: none;
  }
  label {
    cursor: pointer;
  }
  .picture {
    height: 60px;
    width: 100px;
  }

  .check-box {
    background: #1d2024;
    border-radius: 3px;
    color: white;
    border: 2px solid white;
    font-weight: bolder;
    height: 118px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    .icon-checked {
      display: none;
      height: 15px;
      width: 15px;
    }
    .check-box-filter {
      background: rgba(50, 50, 50, 0.5);
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  input:checked + .check-box {
    border: 2px solid rgb(237, 91, 92);
    box-shadow: inset 0 0 0 4px $red-btn;
    background-color: white;
    .icon-checked {
      display: inline-block;
      position: absolute;
      top: 5px;
      right: 5px;
    }
    .check-box-filter {
      background: rgba(237, 91, 92, 0.2);
    }
  }
}

body {
  background-color: $grey-background;
  color: $grey-typo;
  font-family: $body-font;
  font-weight: lighter;
}

h4, .col-form-label {
  font-family: $body-font;
  color: $grey-typo;
  font-weight: normal;
}

.btn-block {
  color: white;
  background-color: $red-btn;
  border-radius: 50px;
}
.btn-block:hover {
  color: white;
  background-color: $red-btn-hover;
}

.collection_radio_buttons {
  font-size: 16px;
  font-weight: normal;
  font-family: $body-font;
}
