.mm-tabs {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;

  & > li {
    flex: 1;
    background: #7A7D7D;
    border-top: 3px solid #7A7D7D;
    box-shadow: inset 3px -4px 10px rgba(black, 0.2);
    text-align: center;
    border-radius: 3px;

    a {
      color: rgb(20, 20, 20);
      text-decoration: none;
      display: block;
      padding: 10px 0;
    }

    &.active {
      background-color: #30333a;
      border-top: 3px solid $red-btn;
      box-shadow: none;
      a {
        color: rgb(200, 200, 200);
      }
    }
  }
}
