.showtime-modal {
  background-color: rgba(10,10,20,0.9);
  border-radius: 3px;
  padding: 0 20px;
  position: absolute;
  z-index: 20;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 100%;
  overflow: auto;
}
