
.background-img {
  display: flex;
  position: relative;

}


.poster {
  position: relative;
  &::after {
    content: "▶";
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 67px;
    margin-left: -25px;
    margin-top: -55px;
    text-shadow: 0 0 20px rgba(0,0,0,0.6);
    opacity: 0.85;
  }

  img{
    width: 100%;
    position: relative;
  }

}

.trailer-link a{
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}

.infos {
  padding-left: 0px;
  color: white;

}

.infos h2 {
  font-size: 20px;
  margin-top: 0px;
  padding: 0px;
}

.infos p {
  font-size: 15px;
}


.synopsis p {
  margin-top: 5px;
  font-size: 15px;
  text-align: justify;
}

.email-sent {
  font-size: 15px;
  margin-top: 10px;
  color: $grey-typo;
}
