.background-img {
  display: flex;
}


.poster img{
  width: 100%;
}

.infos {
  padding-left: 0px;

}

.infos h2 {
  font-size: 20px;
  margin-top: 0px;
  padding: 0px;
}


.synopsis p {
  margin-top: 5px;
  font-size: 15px;
  text-align: justify;
}

